.dialog-container {

    /* Message Display*/
    .message {
        height: 70px;
        font-size: 1rem;
        text-align: center;
        position: relative;
        top: 30px;
    }

    /* Yes and No Button*/
    button {
        height: 30px;
        width: 200px;
    }
}
